/* style for the tags */
.graphics, .coding, .APIs, .data, .jekyll, .maps, .tutorial, .other-stuff {
    padding: 5px;
    font-family: 'Inconsolata';
    border-radius: 5%;
    background-color: #666;
    color: #fff
}

.whatever_text{
  max-width: 700px;
  margin: 30px 5% 0;
}

.list li{
  display: inline-block;
  width: 33%;
  max-width: 30%;
  min-width: 300px;
  margin: 0 20px 40px -10px !important;
  background-color: #cbcbcb;
  padding: 20px;
  border-radius: 5px;
  vertical-align:top;
}

#toolSearch{
  width: 300px;
  border-radius: 5px;
  margin: 0 auto;
  border: 0;
  background-color: #cbcbcb;
  padding: 8px;
}

.main-search-holder {
  margin: 0 auto;
  max-width: 700px
}

html {
  font-family: 'Inconsolata', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,a:hover {
  outline: 0;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,strong {
  font-weight: bold;
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
