/* style for the tags */
.graphics, .APIs, .data, .jekyll, .maps, .tutorial, .other-stuff {
    padding: 5px;
    font-family: 'Inconsolata';
    border-radius: 5%;
}
.graphics{
  background-color: #4d004b;
  color: #fff;
}
.maps{
  background-color: #762a83;
  color: #fff;
}
.data{
  background-color: #9970ab;
  color: #fff;
}
.APIs{
  background-color: #d9f0d3;
}
.jekyll{
  background-color: #a6dba0;
}
.tutorial{
  background-color: #5aae61;
}
.other-stuff {
  background-color: #f7f7f7;
}
.whatever_text{
  max-width: 700px;
  margin: 30px 5% 0;
}
