
<div id="entry-list">
<div class="row" style="margin-bottom:10px;">
		<input id="toolSearch" type="text" class="search form-control" placeholder='Search here and press ENTER. For exact query, use "double quotes"' />
</div>
<script type="text/javascript">
function reply_click(element) {
	document.getElementById('toolSearch').value = element.getAttribute('data-product-name');
}
</script>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:20%;"><span class="sort" data-sort="tool">Tool</span></th>
			<th style="width:40%;"><span class="sort" data-sort="description">Description</span></th>
			<th style="width:20%;"><span class="sort" data-sort="tags">Tags</span></th>
			<th style="width:10%;"><span class="sort" data-sort="link">Go for it</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for post in site.posts %}
		<tr>
			<td class="name">{{ post.tool }}</td>
			<td class="desc">{{ post.description }}</td>
			<td class="tags"><span class="{{ post.tags | array_to_sentence_string }}">{{ post.tags | array_to_sentence_string }}</span></td>
			<td class="category"><a href="{{ post.link }}" target="_blank">link <i class="fa fa-external-link-square" aria-hidden="true"></i></a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>

<script type="text/javascript">

var options = {
  valueNames: ['name', 'desc', 'tags']
};

var entryList = new List('entry-list', options);

var filterCityButton = document.getElementById("filter");
var removeFiltersButton = document.getElementById("removeFilters");

</script>
