<div class="navbar navbar-inverse">
    <span style="float:right; margin: 25px;"><a href="http://twitter.com/share?text=Prego!, a very simple and cool website to find the tools for data journalism #ddj #data by @voltdatalab &url=http://prego.voltdata.info" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//prego.voltdata.info" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a><br><br>
    </span>
    <div class="collapse navbar-collapse">
      <ul id="navegador" class="nav navbar-nav">
        <li><a href="index.html"><img src="logo.png" alt="logo" width="100px"/> </a></li>
        <li style="margin-top:25px"><a href="index.html">Home</a></li>
        <li style="margin-top:25px"><a href="what.html">About</a></li>
        <li style="margin-top:25px"><a href="references.html">Links</a></li>
        <li style="margin-top:25px"><a href="http://www.voltdata.info/en-lg" target="_blank">Volt Data Lab</a></li>
      </ul>
    </div><!--/.nav-collapse -->
</div>
